/* Fonts and font sizes. */
$eyespy-font-primary: Helvetica, sans-serif;
$eyespy-font-secondary: Arial, sans-serif;

$eyespy-font-size-xlarge: 32px;
$eyespy-font-size-large: 20px;
$eyespy-font-size-medium: 16px;
$eyespy-font-size-small: 14px;
$eyespy-font-size-xsmall: 10px;

/* Colour scheme. */
$eyespy-colour-silk: #EAEAEA;
$eyespy-colour-paper: #F4F4F4;
$eyespy-colour-charcoal: #373737;

/* Useful sizes for consistent layouts. */
$eyespy-spacing: 20px;
$eyespy-border-radius: 4px;
$eyespy-form-control-height: 30px;