.eyespy-popup-content {
	width: 600px;
	height: 370px;
	overflow-y: auto;

	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;

	/* Popup menu styling. */
	.menu {
		height: 100%;
		width: 100px;

		display: flex;
		flex-direction: column;

		.menu-item {
			background-color: #719ECC;
			width: 100%;
			flex-grow: 1;
			display: flex;
			flex-direction: column;

			&:hover {
				background-color: #8DC6FF;
			}

			/* The menu item corresponding to the content that is being shown. */
			&.active {
				background-color: #8DC6FF;
			}

			.menu-item-icon {
				flex-grow: 0;
				width: 80px;
				padding: 10px;
			}

			.menu-item-caption {
				width: 100%;
				text-align: center;
				color: #DAECFF;
			}
		}
	}

	/* Popup panel content styling. */
	.panel-content {
		padding-left: 20px;
		width: 100%;
		background-color: #8DC6FF;
	}
}

/* Hides an element. */
.hidden {
	display: none;
}