/* Styling for elements the extension manipulates on the page. */

@import "variables";
@import "mixins";

.eyespy-image-contents-tooltip {
	background: $eyespy-colour-charcoal;
	top: 100%;
	display: block;
	margin-top: 10px;
	opacity: 0;
	padding: $eyespy-spacing;
	pointer-events: none;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	color: $eyespy-colour-paper;
	border-radius: $eyespy-border-radius;
	font-size: $eyespy-font-size-small;
	z-index: 9999;
	opacity: 1;
	display: block;

	/* CSS Triangle. */
	&:before {
		border-left: solid transparent 7.5px;
		border-right: solid transparent 7.5px;
		border-bottom: solid $eyespy-colour-charcoal 10px;
		top: -10px;
		content: " ";
		height: 0;
		left: 50%;
		margin-left: -13px;
		position: absolute;
	}
}

/* Hides an element. */
.eyespy-hidden {
	display: none;
}