/* Styling for the extensions popup. */

@import "variables";
@import "mixins";

.eyespy-popup-content {
	width: 500px;
	height: 300px;
	overflow-y: auto;

	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;

	/* Popup menu styling. */
	.menu {
		height: 100%;
		width: 80px;

		display: flex;
		flex-direction: column;

		.menu-item {
			background-color: $eyespy-colour-paper;
			width: 100%;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			font-family: $eyespy-font-primary;
			font-size: $eyespy-font-size-medium

			&:hover {
				background-color: $eyespy-colour-silk;
			}

			/* The menu item corresponding to the content that is being shown. */
			&.active {
				background-color: $eyespy-colour-silk;
			}

			.menu-item-icon {
				flex-grow: 0;
				width: 60px;
				padding: 10px;
			}

			.menu-item-caption {
				width: 100%;
				text-align: center;
				color: $eyespy-colour-charcoal;
			}
		}
	}

	/* Popup panel content styling. */
	.panel-content {
		padding: 0 $eyespy-spacing;
		width: 100%;
		background-color: $eyespy-colour-silk;

		.panel-content-header {
			width: 100%;
			text-align: center;
			font-size: $eyespy-font-size-large;
			font-family: $eyespy-font-primary;
			color: $eyespy-colour-charcoal;
		}

		.form-control-wrapper {
			@include form-element;

			.form-control-label {
				width: 50%;
			}

			.form-control {
				width: 50%;
				float: right;
			}
		}

		.form-button-wrapper {
			@include form-element;

			display: flex;
			justify-content: center;
		}
	}
}

/* Hides an element. */
.eyespy-hidden {
	display: none;
}